@import "tailwindcss";

@theme {
  --color-primary: #063d2e;
  --color-primary-dim: #e5e1d4;
  --color-secondary: #f8f6ef;
  --color-accent: #3f6459;
  --color-accent-dim: #e5e1d4;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary-dim);
  color: var(--color-accent);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}